<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <!-- This Menu Item will appear in the Upper bar, that's why It needs NO parent or action -->
    <menuitem id="tric_menu_root" 
              name="Tric" 
              sequence="10"/>

    <!-- This Menu Item Must have a parent -->
    <menuitem id="tric_barang_menu_categ" 
              name="Barang" 
              parent="tric_menu_root" 
              sequence="10"/>

    <!-- This Menu Item Must have a parent -->
    <menuitem id="tric_pegawai_menu_categ" 
              name="Pegawai" 
              parent="tric_menu_root" 
              sequence="20"/>

    <menuitem id="tric_transaksi_menu_categ" 
              name="Transaksi" 
              parent="tric_menu_root" 
              sequence="42"/>

</odoo>